n8n-whatsapp-leads-workflow.json
{
  "name": "WhatsApp Leads to CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "interest-keywords",
              "leftValue": "={{ $json.body.message.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-interest",
      "name": "Filter Interest Keywords",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Filter messages containing interest keywords"
    },
    {
      "parameters": {
        "jsCode": "// Extract contact information from WhatsApp message\nconst message = $input.item.json.body.message;\nconst pushName = message.pushName || 'Unknown';\nconst remoteJid = message.key.remoteJid || '';\n\n// Normalize phone number (remove @s.whatsapp.net and keep only digits)\nlet phoneNumber = remoteJid.replace('@s.whatsapp.net', '').replace(/[^0-9]/g, '');\n\n// Extract message text\nconst messageText = message.message || '';\n\nreturn {\n  name: pushName,\n  whatsapp: phoneNumber,\n  message: messageText\n};"
      },
      "id": "extract-contact",
      "name": "Extract Contact Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "id": "check-keywords",
              "leftValue": "={{ $json.message.toLowerCase() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "containsAny",
                "singleValue": false
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-keywords",
      "name": "Check Interest Keywords",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Check if message contains interest keywords (Arabic or English)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'https://your-domain.com' }}/api/admin/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"whatsapp\",\n  \"name\": \"{{ $json.name }}\",\n  \"whatsapp\": \"{{ $json.whatsapp }}\",\n  \"products\": [],\n  \"total_amount\": 0\n}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Lead in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notes": "Create lead in CRM system"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead created successfully\" } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Message does not contain interest keywords\" } }}",
        "options": {}
      },
      "id": "respond-no-keywords",
      "name": "Respond No Keywords",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Interest Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Interest Keywords": {
      "main": [
        [
          {
            "node": "Extract Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Info": {
      "main": [
        [
          {
            "node": "Check Interest Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Interest Keywords": {
      "main": [
        [
          {
            "node": "Create Lead in CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond No Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in CRM": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-31T00:00:00.000Z",
  "versionId": "1"
}

